.App {
  min-height: 100vh;
}

.MainApp {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
}

.section-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
}

.Typewriter {
  display: inline-block;
}

.Typewriter__wrapper {
  font-size: xx-large;
  font-weight: bold;
}

.Typewriter__cursor {
  font-size: xx-large;
  font-weight: bold;
}

section.timeline-card-content {
  justify-content: center;
}

section.timeline-card-content p.card-title {
  font-size: 1.5em;
  margin-top: 25px;
}

section.timeline-card-content p.card-sub-title {
  font-size: 1.25em;
  margin-top: 10px;
}

section.timeline-card-content div.card-description > p {
  font-size: 1.1em;
  margin-top: 10px;
  font-weight: 500;
}

.social {
  position: relative;
  margin-top: 60px;
}

.header {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 25px;
}
